# Dependencies
/vendor/
composer.lock

# Environment
/.env
/.env.local
/.env.production

# IDE
/.idea/
.vscode/
*.swp
*.swo
*~

# Uploads
/uploads/*/temporary/

# Logs
/logs/*

# Testing
/builds/*/test-results/*

# Backup
/backup/

# System files
.DS_Store
Thumbs.db

# Sensitive files
.env
*.pem
